---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{ site.name }}<span></span></a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div class="">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
<time>{{ post.date | date_to_string }}</time>
<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  <div class="list-item">
    <h2 class="list-post-title">
      
    </h2>
    <div class="list-post-date">
      
    </div>
  </div>
{% endfor %}
{% endif %}
</div>
